<!DOCTYPE html>
<html lang="en">
<head>
  <title>Port Forward Tester Built in GO</title>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
  <div class="div1">

<div style="margin:0px auto;max-width:640px;background:transparent; ">
  <table role="presentation" cellpadding="0" cellspacing="0" class="table1" align="center" border="0">
  <tbody>
    <tr>
    <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:100px 0px;">
      </td>
    </tr>
  </tbody>
</table>
</div>

      <div class="boxShadow">
        <div style="margin:0px auto;max-width:640px;background:#ffffff;">

        <table class="actualBOX" role="presentation" cellpadding="0" cellspacing="0" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 40px;">

      <div style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
          <tbody>
            <tr>
            <td style="word-break:break-word;font-size:0px;padding:0px;" align="center">
              <div class="titleDIV">
                <h1>Port Forward Tester Built in GO</h1>
              </div>
      	      <div class="descriptionDIV">
      		    <h2>This is an open source Open Port Tester. Enter a hostname or an IP and a port to test.</h2>
      	      </div>
              <div class="formDIV">
                <h3><b>Your IP:</b> {{.ClientIP}}</h3>
                <form action="/" method="post">
                  <label for="host">Host:</label><br>
                  <input type="text" id="host" name="host" placeholder="Domain or IP" value="{{.Host}}">
                  <br>
                  <label for="lname">Ports:</label>
                  <br>
                  <input type="text" id="ports" name="ports" placeholder="Port(s) (80 or 80,443)" value="{{.PortsFormVal}}">
                  <br>
                  <br>
                  <input type="submit" value="Submit">
                </form> 
              </div>
        </td>
      </tr>
</tbody>
</table>
</div>

</td>
</tr>
</tbody>
</table>
</div>
<div class="footer">
    <a href="https://github.com/mtzfederico/">Source</a>
</div>
</body>
</html>